:root {
  --dark: #111;
  --white: #fff;
  --yellow: #F3BC00;


  --lang-roboto: 'Roboto', sans-serif;
  --lang-poppins: 'Poppins', sans-serif;
  --lang-big: 'BigNoodleTitling';
  --title-big: 90px;
  --fz-text: 22px;
  --fz-text-20: 20px;
  --fz-text-small: 16px;
  --fw-bold: 700;
  --fz-semibold: 600;
  --fz-medium: 500;
  --fz-regular: 400;

  --line-height: 1.2;


  --header-gap: 30px;
  --header-icon-gap: 15px;
  --header-btn: 13px 69px;
  --header-btn-gap: 24px;

  --footer-gap: 30px;
  --footer-top: 60px;
  --footer-menu-bottom: 40px;
  --footer-menu-gap: 15px;
  --footer-info-fz: 12px;

  --banner-padding: 40px 100px 40px 48px;
  --banner-title: 36px;
  --banner-fone: 150px;

  --banner-text-bottom: 16px;
  --banner-btn-padding: 15px 70px;
  --banner-dark-1: #1F1F1F;
  --banner-dark-2: #000;


  --btn-fone: 43px;
}