@font-face {
    font-family: 'BigNoodleTitling';
    src: url('/assets/scss/fonts/BigNoodleTitling-Oblique.woff2') format('woff2'),
        url('/assets/scss/fonts/BigNoodleTitling-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('/assets/scss/fonts/BigNoodleTitling.woff2') format('woff2'),
        url('/assets/scss/fonts/BigNoodleTitling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

